// FONTS:

$sans: "Sharp Grotesk", Helvetica, sans-serif;
$serif: "Georgia", serif;
$mono: "Courier", monospace;

// COLORS:

$mta-background: #fbf2e3;
$mta-background-transparent: rgba(251, 242, 227, 0.9);
$mta-line-color: #07aed1;

$city-white: #ebebeb;
$city-grey: #8c8c8c;
$city-black: #111111;
$city-orange: #fa7416;
$city-purple: #a9328a;
$city-green: #36c269;
$city-blue: #0c71fa;
$city-gold: #fcc32c;
$city-politics-red: #d02d3c;
$city-politics-blue: #214da5;
