// RESET
// Smooths out the rough edges across browsers
@import "./defaults/normalize";

// VARIABLES
// Reusable settings
@import "./_colors";
@import "./_fonts";

// OTHER DEFAULT STYLES
// Smooths out the rough edges across browsers
@import "./defaults/article";
@import "./defaults/dataviz";

// BULMA
// External CSS framework
@import "../../node_modules/bulma/bulma.sass";

// YOUR CODE
// Starting writing your stuff below here

body {
  background-color: $mta-background;
}

// HEADER / FOOTER

nav.nav {
  position: absolute;
  background: transparent;
  z-index: 10;
  box-shadow: none;
}

footer .footer {
  background-color: transparent;
}

// SUBWAY ANIMATION
.st0,
.st2,
.st4 {
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  animation: dash 2s linear forwards;
  animation-iteration-count: 1;
}

.st1,
.st3 {
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  animation: dash 3s linear forwards;
  animation-iteration-count: 1;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

// LAYOUT

.app {
  .hero.is-fullheight {
    z-index: 1;
    &:first-child {
      @media screen and (max-width: 768px) {
        margin-bottom: 4rem;
      }
    }
    svg {
      position: absolute;
      top: 20%;
    }
    .hero-body .copy-container {
      margin-top: 30%;
      padding: 2rem;
      z-index: 10;
    }
    @media screen and (max-width: 768px) {
      svg {
        top: 44%;
        width: 100vh;
        transform: rotate(90deg);
      }
      .hero-body .copy-container {
        margin-top: 0;
        background-color: $mta-background-transparent;
      }
    }

    .start-button {
      width: 80px;
      height: 80px;
      background-color: $mta-line-color;
      font-weight: bold;
      border-radius: 50%;
      z-index: 2;
      transform: translateY(-4rem);
      text-align: center;
      color: white;
      line-height: 1.25rem;
      animation: hover-up-and-down 2s ease-in-out infinite;
    }
  }

  @keyframes hover-up-and-down {
    0% {
      transform: translateY(-4rem);
    }
    50% {
      transform: translateY(-5rem);
    }
    100% {
      transform: translateY(-4rem);
    }
  }

  // TYPOGRAPHY:

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  span {
    font-family: $sans;
  }

  h1,
  .title {
    font-size: 3rem;
    font-weight: 900;
    color: #000;
  }

  h2,
  .subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    color: #000;
  }

  p {
    font-size: 1rem;
  }

  .light-text {
    font-weight: 200;
    color: #666;
  }

  // QUESTIONS:

  .question {
    height: 100vh;
    width: 100%;

    @media screen and (max-width: 768px) {
      padding: 0 0.5rem;
      height: 120vh;
    }
    .column {
      padding: 3rem;

      img {
        max-height: 80vh;
        object-fit: cover;
        outline: none;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        animation: jiggle 0.6s 1;

        @media screen and (max-width: 768px) {
          max-height: 50vh;
        }
      }

      .subway-line {
        width: 15px;
        height: 100%;
        background-color: $mta-line-color;

        .subway-station {
          position: absolute;
          width: 80px;
          height: 80px;
          background: white;
          border: 10px solid $mta-black;
          border-radius: 50%;
        }

        &.is-first-question {
          background: linear-gradient(
            180deg,
            rgba(251, 242, 227, 1) 0%,
            rgba(251, 242, 227, 1) 50%,
            rgba(7, 174, 209, 1) 50%,
            rgba(7, 174, 209, 1) 100%
          );
        }

        &.is-last-question {
          height: 52%;

          .subway-station {
            bottom: 0;
            margin-bottom: -3px;
          }
        }
      }

      &.is-1 {
        height: 100%;
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    &.is-mobile .column {
      &.is-1 {
        padding: 0 1.5rem;
        .subway-line {
          width: 8px;

          .subway-station {
            width: 25px;
            height: 25px;
            border: 3px solid $mta-black;
          }
        }
      }
      &.is-11 {
        padding: 5rem 1.5rem;
      }
    }

    .station-search-bar {
      max-width: 500px;
      > div > .wrapper {
        color: black;
        border-radius: 5px;
        z-index: 5;
        border: 2px solid black;
        background: transparent;

        > div:not(:first-child) {
          background-color: $mta-background;
          z-index: 10;
          color: black;
        }

        > div > div > svg {
          fill: black;
        }

        input {
          font-family: $sans;
          color: #333;
        }

        li .ellipsis {
          white-space: normal;
        }
      }
    }
  }

  @keyframes jiggle {
    0% {
      transform: rotate(-3deg);
    }
    16% {
      transform: rotate(3deg);
    }
    33% {
      transform: rotate(-2deg);
    }
    50% {
      transform: rotate(2deg);
    }
    66% {
      transform: rotate(-1deg);
    }
    84% {
      transform: rotate(1deg);
    }
  }

  // RESULTS:

  .scorecard-container {
    max-width: 850px;
    background-color: $mta-background-light;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;

    @media screen and (max-width: 768px) {
      padding: 2rem 1.5rem;
    }

    .button.is-twitter {
      background-color: $twitter-blue;
      color: white;
    }
  }

  // SUBWAY COLORS:

  .line-icon {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    border-radius: 50%;
    background: #111;
    color: #fff;
    text-align: center;
    line-height: 1.5em;
    margin: 2px 2px 4px 0;
    font-size: 12px;
    transform: translateY(-1px);
    font-weight: bold;
    font-family: Helvetica, sans-serif;
  }

  .line-A,
  .line-C,
  .line-E {
    background: #0039a6;
  }

  .line-B,
  .line-D,
  .line-F,
  .line-M {
    background: #ff6319;
  }

  .line-G {
    background: #6cbe45;
  }

  .line-J,
  .line-Z {
    background: #996633;
  }

  .line-L {
    background: #a7a9ac;
  }

  .line-N,
  .line-Q,
  .line-R,
  .line-W {
    background: #fccc0a;
    color: #111;
  }

  .line-S {
    background: #808183;
  }

  .line-1,
  .line-2,
  .line-3 {
    background: #ee352e;
  }

  .line-4,
  .line-5,
  .line-6 {
    background: #00933c;
  }

  .line-7 {
    background: #b933ad;
  }

  .line-SIR {
    width: 1.6rem;
    border-radius: 45%;
  }
}
