@import "_fonts.scss";
@import "_vars.scss";
@import "../../node_modules/bulma/bulma.sass";

// GENERAL:

body {
  background-color: $mta-background;
}

.hero.is-fullheight {
  z-index: 1;
  .hero-body .container {
    background-color: $mta-background-transparent;
    padding: 2rem;
    max-width: 600px;
  }
  .lazy-load-image-background {
    position: absolute;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .start-button {
    width: 80px;
    height: 80px;
    background-color: $mta-line-color;
    font-weight: bold;
    border-radius: 50%;
    z-index: 2;
    transform: translateY(-4rem);
    text-align: center;
    color: white;
    line-height: 1.25rem;
    animation: hover-up-and-down 2s ease-in-out infinite;
  }
}

@keyframes hover-up-and-down {
  0% {
    transform: translateY(-4rem);
  }
  50% {
    transform: translateY(-5rem);
  }
  100% {
    transform: translateY(-4rem);
  }
}

// TYPOGRAPHY:

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  font-family: $sans;
}

h1,
.title {
  font-size: 3rem;
  font-weight: 900;
  color: #000;
}

h2,
.subtitle {
  font-size: 1.875rem;
  font-weight: 400;
  color: #000;
}

p {
  font-size: 1.25rem;
}

.light-text {
  font-weight: 200;
  color: #666;
}

// QUESTIONS:

.question {
  height: 100vh;

  .column {
    padding: 3rem;

    &.is-1 {
      height: 100%;
      padding-top: 0;
      padding-bottom: 0;

      .subway-line {
        width: 15px;
        height: 100%;
        background-color: $mta-line-color;

        .subway-station {
          position: absolute;
          width: 80px;
          height: 80px;
          background: white;
          border: 10px solid $mta-black;
          border-radius: 50%;
        }
      }
    }
  }

  &.is-mobile .column {
    padding: 1.5rem;
    &.is-1 {
      .subway-line {
        width: 8px;
        height: 100%;
        background-color: $mta-line-color;

        .subway-station {
          position: absolute;
          width: 25px;
          height: 25px;
          background: white;
          border: 3px solid $mta-black;
          border-radius: 50%;
        }
      }
    }
  }

  .station-search-bar {
    max-width: 500px;
    > div > .wrapper {
      color: black;
      border-radius: 5px;
      z-index: 5;
      border: 2px solid black;
      background: transparent;

      > div:not(:first-child) {
        background-color: $mta-background;
        z-index: 10;
        color: black;
      }

      > div > div > svg {
        fill: black;
      }

      input {
        font-family: $sans;
        color: #333;
      }

      li .ellipsis {
        white-space: normal;
      }
    }
  }
}

// SUBWAY COLORS:

.line-icon {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  border-radius: 50%;
  background: #111;
  color: #fff;
  text-align: center;
  line-height: 1.5em;
  margin: 2px 2px 4px 0;
  font-size: 12px;
  transform: translateY(-1px);
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}

.line-A,
.line-C,
.line-E {
  background: #0039a6;
}

.line-B,
.line-D,
.line-F,
.line-M {
  background: #ff6319;
}

.line-G {
  background: #6cbe45;
}

.line-J,
.line-Z {
  background: #996633;
}

.line-L {
  background: #a7a9ac;
}

.line-N,
.line-Q,
.line-R,
.line-W {
  background: #fccc0a;
  color: #111;
}

.line-S {
  background: #808183;
}

.line-1,
.line-2,
.line-3 {
  background: #ee352e;
}

.line-4,
.line-5,
.line-6 {
  background: #00933c;
}

.line-7 {
  background: #b933ad;
}

.line-SIR {
  width: 1.6rem;
  border-radius: 45%;
}
