@import "_fonts.scss";
@import "_vars.scss";
@import "../../node_modules/bulma/bulma.sass";

// GENERAL:

body {
  padding: 0 1rem;
}

// TYPOGRAPHY:

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: $sans;
  color: #666;
}

h1,
.title {
  font-size: 3rem;
  font-weight: 900;
  color: #000;
}

h2,
.subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  color: #333;
}

.light-text {
  font-weight: 200;
  color: #666;
}

// QUESTIONS:

.station-search-bar {
  max-width: 500px;
  > div > .wrapper {
    border-radius: 5px;
    z-index: 5;

    input {
      font-family: $sans;
      color: #333;
    }

    li .ellipsis {
      white-space: normal;
    }
  }
}

// SUBWAY COLORS:

.line-icon {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  border-radius: 50%;
  background: #111;
  color: #fff;
  text-align: center;
  line-height: 1.5em;
  margin: 2px 2px 4px 0;
  font-size: 12px;
  transform: translateY(-1px);
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}

.line-A,
.line-C,
.line-E {
  background: #0039a6;
}

.line-B,
.line-D,
.line-F,
.line-M {
  background: #ff6319;
}

.line-G {
  background: #6cbe45;
}

.line-J,
.line-Z {
  background: #996633;
}

.line-L {
  background: #a7a9ac;
}

.line-N,
.line-Q,
.line-R,
.line-W {
  background: #fccc0a;
  color: #111;
}

.line-S {
  background: #808183;
}

.line-1,
.line-2,
.line-3 {
  background: #ee352e;
}

.line-4,
.line-5,
.line-6 {
  background: #00933c;
}

.line-7 {
  background: #b933ad;
}

.line-SIR {
  width: 1.6rem;
  border-radius: 45%;
}
